.author-wrapper{
  width: 100%;
  margin-bottom: 85px;
  background-color: $color-lightgrey;
}

.author{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
  padding: 126px 0;

  @media #{$laptop-min-width}{
    padding: 90px 0;
  }
}

.author-about{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.author__title{
  text-transform: uppercase;
  letter-spacing: 6px;
  color: $color-carrot;
}

.author__preview{
  width: 140px;
}

.author__preview img{
  width: 100%;
  height: auto;
}

.author-info{
  display: flex;
  flex-direction: column;
}

.author-info{
  font-size: 20px;
  font-weight: lighter;
  line-height: 36px;
  color: $color-grey;
}
